/* Xoá bỏ mọi khoảng cách mặc định của trình duyệt */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ẩn hoàn toàn thanh cuộn ở cấp độ cao nhất */
body, html {
  width: 100%;
  height: 100%;
  overflow: hidden; 
}